@import url("../styles/HelveticaFont/style.css");
@import url("../styles/HelveticaFont_Light/style.css");

* {
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  background: linear-gradient(132deg, rgba(255, 255, 255, 0.882), rgba(255, 255, 255, 0.918));
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Now Display Light', serif;
  width: 100%;
  /* height: 400vh; */
  /* overflow-x: hidden; */
}

.body2{
  overflow-x: hidden;
}

h1{
  font-size: 3.125rem;
  line-height: 2.5rem;
  padding-top: 2px;
  padding-bottom: 3px;
  font-family: 'Helvetica Now Display';
  color: black;
}

h2{
  font-size: 2.25rem;
  line-height: 2.5rem;
  padding-top: 2px;
  padding-bottom: 3px;
  font-family: 'Helvetica Now Display';
  color: black;
}

h3{
  font-size: 1.375rem;
  line-height: 1.875rem;
  padding-top: 2px;
  padding-bottom: 3px;
  font-weight: 500;
  color: #878a8f !important;
  letter-spacing: normal;
}

h3 em{
  font-weight: 500;
  color: #cfd0d2 !important;
  margin: 0 0.625rem;
  font-style: normal;
  font-family: 'Helvetica Now Display Light' !important;
}

h5{
  font-size: .875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .4em;
  color: #878a8f;
  
}

p{
  color: #878a8f;
  font-weight: 500;
  letter-spacing: .01em;
  padding-top: 2px;
  padding-bottom: 3px;
}

.heavyFont{
  font-family: 'Helvetica Now Display';
}

.fontWeight{
  font-size: 20px;
}


#fondo {
  background-color: rgba(140, 140, 140, 0.026);
  color: rgb(187, 38, 38);
  width: 100%;
  font-size: 10em;
  font-family: 'Helvetica Now Display';
  /* text-shadow: 3px 3px rgba(221, 13, 13, 0.671) ; */
}

/* texto menu en charli repo */
.navIcon {
  font-size:30px
}

.navIcon2 {
  font-size:    15px ;
  font-family: 'Helvetica Now Display';
  letter-spacing: 0.1em;
}

.navigation {
  position: sticky;
  top: 18px;
  cursor: pointer;
}

.pointerAbout{
  cursor: pointer; 
  /* outline: none !important; */
  border-bottom: 1px solid !important;        
  color: inherit;
}

.pointerAbout:hover{
  cursor: pointer;
  color:inherit;
}

.pointer{
  cursor: pointer; 
  /* outline: none !important; */
  /* border: none !important;         */
  text-decoration: none;
  color: black;
  z-index: 6;
  /* box-shadow: none !important; */
  /* -webkit-tap-highlight-color: transparent !important; */
  /* -webkit-user-select: none;  */
  /* -moz-user-select: none;  */
  /* -ms-user-select: none; */
  /* user-select: none; */
}

.pointerWeak{
  cursor: pointer; 
  /* outline: none !important; */
  /* border: none !important;         */
  text-decoration: none;
  color: black;
  z-index: 5;
  /* box-shadow: none !important; */
  /* -webkit-tap-highlight-color: transparent !important; */
  /* -webkit-user-select: none;  */
  /* -moz-user-select: none;  */
  /* -ms-user-select: none; */
  /* user-select: none; */
}


.pointerh1:hover{
  cursor: pointer;
  border-bottom: 4px black solid;
  color: black;
  display:inline-block;
  transition: all .2s cubic-bezier(.3,0,.5,1)
}

.pointerh3:hover{
  cursor: pointer;
  border-bottom: 2px black solid !important;
  color: black;
  display:inline-block !important;
  transition: all .2s cubic-bezier(.3,0,.5,1)
}

.pointerNav:hover{
  cursor: pointer;
  color: #878a8f !important;
  transition: all .2s cubic-bezier(.3,0,.5,1)
}

.marginSection{
  margin-top: 200px;
}

.blackFont{
  color:black !important;
}

.headerDark{
  font-weight: 500;
  color: #0f141e;
  letter-spacing: normal;
}

.headerLight{
  font-weight: 500;
  color: #878a8f;
  letter-spacing: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.contactMap{
  width: 30px;
  height: 100%;
}

.projectsHeight{
  height: 700px;
  overflow-y: hidden;
}


.visible{
  z-index: 5;
  display: block;
  /* background-color:blanchedalmond; */
  transition: opacity 3s !important;
  opacity: 1;
}

.invisible{
  opacity: .5;
  background-color:black;
}

.blurry{
  filter: blur(3px);
  opacity: 0.2;
  transition: opacity 2s, filter 2s;
}

.desblurry{
  opacity: 1;
  transition: opacity 2s;
}

.overflowx{
  overflow-x: hidden;
}

/*  ALL THE OPTIONS IN CSS TO NOT SHOW BORDER BOTTOM */

/* outline: none !important; */
  /* border: none !important;         */
  /* text-decoration: none; */
  /* box-shadow: none !important; */
  /* -webkit-tap-highlight-color: transparent !important; */
  /* -webkit-user-select: none;  */
  /* -moz-user-select: none;  */
  /* -ms-user-select: none; */
  /* user-select: none; */